// Normalize page styles
@import url("../../bower_components/normalize-less/normalize.less"); // Animate css plagin

// @font-face {
//     font-family: 'BrandonGrotesqueThin';
//     src: url('../fonts/BrandonGrotesque-Thin.eot');
//     src: url('../fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Thin.woff') format('woff'), url('../fonts/BrandonGrotesque-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }

/* BEGIN GLOBAL STYLES */
* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html {
    height: 100%;
    font-size: 100%;
    width: 100%;
    position: relative;
}

body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    transition: all 0.3s ease;
}
